* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  color: #333;
}

body {
  background-color: #F2E9E7;
}

.header_title {
  margin: 20px 0 20px 0;
  font-size: 36px;
  height: 60px;
  line-height: 60px;
  font-weight: bold;
  text-align: center;
}

.section_title {
  margin-bottom: 10px;
  text-align: center;
  font-size: 24px;
}

.section_order {
  width: 1000px;
  margin: 0 auto;
}

.section_table {
  border-collapse: collapse;
  width: 1000px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.table_th {
  color: #F2E9E7;
  background-color: #3D1810;
  border: 1px solid #3D1810;
  padding: 8px;
  text-align: center;
}

.table_td {
  border: 1px solid black;  
  padding: 8px;
  text-align: center;
}

.form {
  margin-bottom: 20px;
}

.pictures {
  display: flex;
  width: 1000px;
  margin: 0 auto;
  gap: 20px;
}

.coffe {
  height: 150px;
}

.dessert {
  height: 150px;
}

input[type="text"], select {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
}

input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

fieldset {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  }
  
  legend {
  font-weight: bold;
  }
  
  input[type="checkbox"] {
  margin-right: 5px;
  }

a {
  color: #0077c0;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  background-color: #3D1810;
  margin-top: 50px;
}

footer section {
  margin-right: 50px;
  
}

footer ul {
  list-style: none;
  padding-left: 0;
  color: #F2E9E7;
}

footer h2 {
  color: #F2E9E7;
}

footer p {
  color: #F2E9E7;
}

footer ul li {
  color: #F2E9E7;
}

footer a {
  color: #0077c0;
  text-decoration: none;
  color: #F2E9E7;
}

footer a:hover {
  text-decoration: underline;
}